<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika request bukan untuk file yang ada atau direktori yang ada
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Arahkan semua request ke folder public
    RewriteRule ^(.*)$ public/$1 [L]

</IfModule>